* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 20px;

	background: #006;
	color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
	font-size: 0.75em;
	font-weight: 600;
	text-align: center;
	padding: 0.5rem;
}

header, main {
	max-width: 30em;
	margin: 0 auto;
	background: #337;
	color: #fff;
}
header {
	margin-top: 1rem;
	border-radius: 0.5rem 0.5rem 0 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
main {
	margin-top: 0;
	padding: 1rem 2rem;
	border-radius: 0 0 0.5rem 0.5rem;
    background: #fff;
    color: #000;
}

#tabs {
	width: 100%;
	display: flex;
}
#tabs a {
	flex: 1;
	text-align: center;
	border-radius: 0.5rem 0.5rem 0 0;
	font-weight: 900;
	text-decoration: none;
	background: #333;
}
#tabs a, a:visited {
	color: #fff;
}
#tabs a:hover {
	background: #00f;
}
#tabs a.current {
	background: #fff;
    color: #000;
}
#tabs a:hover.current {
	color: #000;
}

/* --- content --- */

p {
	margin: 1rem;
}
ul {
	margin: 1rem 2rem;
}

/* --- for different screens --- */

@media (min-width: 500px) {
	html {
		font-size: 14px;
	}
}
@media (min-width: 750px) {
	html {
		font-size: 16px;
	}
}
@media (min-width: 1000px) {
	html {
		font-size: 18px;
	}
}
@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}
